body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: black;
    font-family: 'Kalam', cursive;
    h1 {
      font-family: 'Pacifico', cursive;
      font-size: 55px;
      margin: 10px;
      
    }
}
#todolist {
  font-size: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #feff9c;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid;
  margin: 30px;
  width: 500px;
}

img {
  width: 40px;
  align-self: flex-end;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    margin-bottom: 15px;
  }
}

#topinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  #input {
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: 25px;
  }
  #submit {
    width: 508px;
    height: 40px;
  }
}
.inputform {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  justify-content: flex-start;
  padding-bottom: 10px;
  margin-bottom: 10px;
  input {
    height: 50px;
    width: 50px;
  }
}
input.checkbox {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
}
input.text {
  height: 43px;
  width: 300px;
  font-size: 18px;
  margin-top: 4px;
}

.striked {
  text-decoration: line-through;
}
