body {
    background-color: blue
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    h1 {
      font-family: 'Pacifico', cursive;
      font-size: 55px;
      margin: 10px;
    }
}
button {
    width: 200px;
    height: 50px;
    margin: 10px;
    &:hover {
      cursor: pointer;  
      width: 250px;
    }
    transition-duration: 500ms;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  p {
    font-size: 100px;
  }
}

#jokecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  font-size: 18px;
  margin-top: 20px;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
    margin-bottom: 20px;
    list-style: none;
  }}
}

input#input {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 30px;
}
input#submit {
  height: 56px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 200px;
  &:hover {
    cursor: pointer;  
  }
}
form {
  display:flex;
}