.next-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

@media screen and (min-width: 768px) {
    .next-card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .next-card:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }
    .next-card:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }
    .next-card:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .next-card:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }
    .next-card:nth-child(5) {
        grid-area: 3 / 1 / 4 / 2;
    }
    .next-card:nth-child(6) {
        grid-area: 1 / 1 / 2 / 2;
    }
    .next-card:nth-child(7) {
        grid-area: 3 / 2 / 4 / 3;
    }
    .next-card:nth-child(8) {
        grid-area: 4 / 1 / 5 / 2;
    }
}

@media screen and (min-width: 1024px) {
    .next-card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .next-card:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }
    .next-card:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }
    .next-card:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
    }
    .next-card:nth-child(4) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .next-card:nth-child(5) {
        grid-area: 2 / 2 / 3 / 3;
    }
    .next-card:nth-child(6) {
        grid-area: 2 / 3 / 3 / 4;
    }
    .next-card:nth-child(7) {
        grid-area: 3 / 2 / 4 / 3;
    }
    .next-card:nth-child(8) {
        grid-area: 3 / 1 / 4 / 2;
    }
}

.next-card {
    position: relative;
    overflow: hidden;
    width: 426px;
}
.next-card__image {
    height: auto;
}

.next__card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #3b3b3b;
    width: 100%;
}

.next-card:hover .next__card-overlay {
    opacity: 1;
}

.next-card:hover .next-card__image {
    transform: scale(1.2);
    transition: all 0.5s ease;
    border-radius: 25px;
}
.next-card__text {
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    background-color: #fff;
}
