

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:600px;
}

h1::before, h1::after {
    background:#4A90E2;
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;

}
h1::before {  
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 0px solid #000000;
    left: 30px;
    top: 10px;
}

h1::after {  
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 0px solid #000000;
    right: 30px;
    top: 10px;
}