body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,103,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button {
    width: 200px;
    height: 50px;
    &:hover {
      cursor: pointer;  
    }
}

