* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #272727;
    color: #fff;
}

header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid red;
    color: #fff;
    h1 {
        padding: 30px;
        background-color: #140087;
        border-bottom: 1px solid red;
    }
}

nav {
    font-size: 16px;
    display: flex;
    justify-content: center;
    form {
        display: flex;
        flex-wrap: wrap;
    }
    input {
        padding: 20px;
        margin: 24px 10px;
        border-bottom: 1px;
    }
}


form label {
    padding: 20px;
    margin: 0px;
    border-bottom: 1px solid #272727;
    &:hover {
        border-bottom: 1px solid white;
    }
}   
main {
    padding-top: 20px;
    display: flex;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        justify-items: center;
    }
    li {
        list-style: none;
        padding-bottom: 10px;
    }
}
