/* 
================================
A sample transition.
Click on the large ball on the left to see the animation.
*/
.anim:active .ball-one {
  left: 150px;
  transition: left .5s ease-in;
}

/* 
================================
Your code here! 
Make the small ball on the right roll to the right when the large one hits it.

*/
.anim:active .ball-two {
  left: 500px;
  transition: left .5s ease-in;
	transition-delay: .5s;
}


/* 
================================
Necessary CSS Below-- no need to edit */

.ball-one {
  background: #ff97C0;
  border-radius: 50%;
  position: absolute; top: 150px; left: 00px;
  width: 200px; height: 200px;

}

.ball-two {
  background: #0097C0;
  border-radius: 50%;
  position: absolute; top: 250px; left: 300px;
  width: 100px; height: 100px;
}
div.block {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: 500px;
  transition: width .5s ease-in-out;

}

div.block:hover {
  width: 300px;
  transition: width .5s ease-in-out;
  
}