body {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 97, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

header {
    padding: 20px 30px 20px 30px;
    margin: 0px;
    .h1 {
        font-size: 40px;
        margin-bottom: 0px;
    }
}
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: around;
    a {
        color: #ff8000;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
menu {
    color: white !important;
    margin-top: 0px;

    ul {
        display: flex;
        list-style: none;
        margin: 0px;
        padding-left: 10px;

        li {
            flex-direction: row;
            display: flex;
            align-items: center;
            a {
                padding: 15px;
                color: white;
                text-decoration: none;
                transition: all ease-in-out 0.5s;
                &:hover {
                    transition: all 1s ease;
                    transform: translate(5px, 0);
                }
            }
        }
    }
}
h1 {
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0px;
}
h2 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
section {
    padding: 20px 30px 20px 30px;
}
footer {
    padding: 20px 30px 20px 30px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
}
.active {
    border-bottom: 1px solid white;
}

.codeblock {
    display: flex;
    flex-wrap: wrap;
    span {
        padding: 2px;
        margin: 2px;
        
    }
    code {
        font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New, monospace, sans-serif;
        padding: 2px;
        margin: 2px;
        background-color: lightgray;
        color: black;
        border-radius: 3px;
        padding: 1px;
    }
}
