body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin:0px;
}

header{
    background-color: #140087;
    margin-top: 0px;
    padding: 20px;
    color: #fff;
    border-bottom: 4px solid red;
}

nav {
    background-color: #140087;
}

main {
    padding: 20px;
    margin-top: 2px;
}

footer {
    margin-top: 2px;
}


p#par {
    font-style: italic;
    border: 1px dashed #e1e1e1;
}

nav.a {
    margin: 15px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #140087;
  }
  
nav ul li {
    float: left;
  }
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav ul li a:hover {
    background-color: #fff;
    color: #140087;
  }

  img {
    width: 100%;
  }

.list {
    margin-left: 40px;
}

footer a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #140087;
    margin: 15px;
}

footer p {
margin: 15px;
}

.center a {
    margin-top: 15px;
}

div.blogcontainer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.blogpost { 
    width: 400px; 
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    background-color: #fff;
}

div.blogcontainer div:nth-child(3) {
    flex-grow: 2;
}

div.blogcontainer div:nth-child(4) {
    flex-grow: 2;
    align-self: baseline;
}
div.blogcontainer div:nth-child(5) {
    flex-grow: 2;
    align-self: baseline;
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
        background-color: #d6d7e0;
        color: rgb(14, 5, 5);
        line-height: 30px;;
    }
    
    img {
        width: 180px;
        float: right;
        margin: 30px 30px 0px 0px;

    }

}