body {
  padding: 1em 2em;
}

ul, ol {
  list-style: none;
  padding: 0;
}
li {
  text-align: center;
  line-height: 2;
  background: slategrey;
}
div {
  width: 12em;
  float: left;
  margin-right: 2em;
}
hr {
  clear: both;
  padding-top: 1em;
  border: 0;
  border-bottom: 1px solid grey;
}

div.one ul li:first-child{
  background-color: lightsteelblue;
}

div.two ul li:nth-child(3){
  background-color: lightsteelblue;
}

div.three ul:nth-child(odd) li:nth-child(-n+3) {
  background-color: lightsteelblue;
}

div:before {
  font-family: monospace;
  white-space: nowrap;
  font-size: 12px; 
}

